@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Tilt+Prism&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tilt Prism', cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.main {
    background-color: black;
    /* height: 100vh; */
    /* width: 100vw; */
    color: white;
}

#welcome img {
    height: 31rem;
    width: 25rem;
}

#welcome {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10vh;
}

#welcome a {
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
    padding: 5px;
    border-radius: 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#history {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    margin-top: 25vh;
}

#history img {
    position: absolute;
    height: 100vh;
    width: 100%;
    opacity: 0.2;
}

.subhist {
    width: 26vw;
    text-align: center;
    box-shadow: rgb(250, 248, 248) 0px 0px 0px 3px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    z-index: 1;
}

.subhist p {
    text-align: justify;
}

.histp {
    font-family: 'Roboto Slab', serif;
}

.bh {
    width: 20rem;
    height: 16rem;
    margin: 5px;
    border-radius: 5px;
}

#impact {
    margin-top: 15vh;
    margin-bottom: 10vh;
}

@media screen and (max-width:800px) {
    .subhist {
        width: 45vw;
        margin: 1rem;
    }
}

@media screen and (max-width:650px) {
    #welcome {
        flex-direction: column;
    }

    #welcome h1 {
        margin-top: 5rem;
    }

    .subhist {
        width: 80vw;
    }
}

