* {
    margin: 10px;
    height: 100px;
}

.green {
    background-color: green;
    margin: 20px;
    margin-bottom: 10px;
    width: 87.5vw;
    height: 80px;
}

.brown {
    background-color: brown;
    width: 40vw;
    margin-bottom: 20px;
    height: 100px;
}

.orange {
    background-color: orange;
    width: 30vw;
}

.red {
    background-color: red;
    width: 30vw;
}

.blue {
    background-color: blue;
    width: 30vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}